## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,3,Bandarbeyla,SO,76.91,9.49,50.81,clear sky,REER XOOSHLE GROUP
1,5,New Norfolk,AU,66.00,-42.78,147.06,overcast clouds,The Shingles Riverside Cottages
2,6,Porto Novo,BJ,77.00,6.50,2.60,scattered clouds,Tour Eiffel Hotel Benin
3,9,Busselton,AU,72.00,-33.65,115.33,clear sky,Observatory Guest House
4,12,Havelock,US,75.20,34.88,-76.90,overcast clouds,Sherwood Motel

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Bac Lieu") & \
                                (vacation_df["Country"] == "VN")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Bac Lieu") & \
                                (vacation_df["Country"] == "VN")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Qui Nhon") & \
                                (vacation_df["Country"] == "VN")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Seka") & \
                                (vacation_df["Country"] == "TH")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Kampong Cham") & \
                                (vacation_df["Country"] == "KH")]

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end]
itinerary_df = pd.concat(stops, ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,299,Bac Lieu,VN,79.97,9.29,105.72,light rain,KhÃ¡ch sáº¡n SÃ i GÃ²n Báº¡c LiÃªu
1,633,Qui Nhon,VN,82.76,13.77,109.23,overcast clouds,KhÃ¡ch sáº¡n Háº£i Ãu Quy NhÆ¡n - Seagull Hotel
2,561,Seka,TH,76.60,17.93,103.96,overcast clouds,à¹à¸£à¸à¹à¸£à¸¡à¹à¸ªà¸²à¸§à¸¥à¸±à¸à¸©à¸à¹à¸§à¸´à¸¥à¸¥à¹à¸²
3,270,Kampong Cham,KH,79.09,11.99,105.46,overcast clouds,7 Makara Hotel
4,299,Bac Lieu,VN,79.97,9.29,105.72,light rain,KhÃ¡ch sáº¡n SÃ i GÃ²n Báº¡c LiÃªu

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(15, 105.0), zoom_level=5.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))